Flask==2.2.2   
Werkzeug==2.2.2
flask-marshmallow==0.14.0
Flask-MySQL==1.5.2
Flask-SQLAlchemy==2.5.1
marshmallow==3.14.1
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.27.0
mysql-connector-python==8.0.27
SQLAlchemy==1.4.29
requests
flask_login
flask_wtf
email_validator
wtforms
urllib3
multiprocess
threaded
python-time
